@import '/src/styles/theme.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  background-color: $color-purple;
}

.grid {
  display: flex;
  max-width: 100%;

  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 1rem;
  }
}

.grid a {
  padding: 1rem;
  border: 1px solid $color-white;
  margin: 0 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: $color-white;
  transition: .4s ease;

  &:hover {
    background-color: $color-white;
    color: $color-purple;
  }
}

.center {
  img {
    filter: invert(1);
  }
  
  .thirteen {
    transform: scale(1.8);
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }
}